{
    "network_id": 1,
    "max_supply": 1000000,
    "decimals": 10,
    "block_reward": 12500000000,
    "appendix_block_reward": 10,
    "epoch": 40320,
    "halving_epoch_interval": 100,
    "block_time": 15,
    "raw_tx_fee": 1,
    "kb_tx_fee": 100,
    "block_size": 256,
    "data_directory": "/blockchain",
    "smart_contracts": true,
    "fts": true,
    "nfts": true,
    "host": "0.0.0.0",
    "port": 5000,
    "log_file": "blockchain.log",
    "node_storage_full": 0,
    "node_storage_access": 40320,
    "node_storage_light": 240,
    "allocations": [
        {
            "address": "3b6a27bccebfb8b348b87f3ed82f9220c0f86a54",
            "balance": 5000000000000
        },
        {
            "address": "7f6a9dbe8d3bb8f328b67c3ed86e9200c2f86a98",
            "balance": 2500000000000
        }
    ]
}